
.header-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: sans-serif;
    width: 300px;
    height: 60px;
    // padding-left: 100px;
    // padding-bottom: 10px;
    // padding-top: 10px;
}


.square-logo {
    color: #1da0c3;
    font-size: 60px;
    height: 30px;
    display: flex;
    padding: 0px;
    align-items: center;
    // padding: 20px;
    padding-bottom: 10px;
}

.logo {
    font-size: 23px;
    font-weight: 500;
    color: black;

}



.splash-nav {
    display: flex;
    font-family: sans-serif;
    position: fixed;
    border-bottom: 1px solid lightgrey;
    background-color: white;
    width: 100%;
    height: 100px;
    justify-content: space-between;

    .signedout-nav {
        display: flex;
        width: 200px;
        justify-content: center;
        align-items: flex-end;
        padding: 30px 10px 0px 10px;
    }
}


.artist-nav {
    display: flex;
    font-family: sans-serif;
    position: fixed;
    border-bottom: 1px solid lightgrey;
    background-color: white;
    width: 100%;
    height: 70px;
    // padding-bottom: 70px;
    justify-content: space-between;
}





.signup-link {
    line-height: 20px;
    padding: 15px 15px 0 15px;
    font-weight: 550;
    background-color: transparent;
}

.signup-link:hover {
    text-decoration: underline;
}

.login-link {
    line-height: 20px;
    padding: 15px 15px 0 15px;
    font-weight: 550;

}

.login-link:hover {
    text-decoration: underline;
}


.motto {
    font-size: 16px;
    padding-bottom: 10px;

    a {
        color: #408ea3;
        background: -webkit-linear-gradient(left, #6046FE, #1DA0C3);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 600;
        font-size: 16px;
    }
}

.main-nav-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 200px;
    // padding-top: 10px;
    width: 600px;
    height: 100%;
    
}

.loggedInNav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 200px;
}


.main-nav-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 200px;
    // padding-top: 10px;
    align-items: center;
}
