
.newsfeed-container {
    display: flex;
    width: 100%;
    height: 540px;
    padding-top: 100px;
    // overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: black;
    
    .newsfeed-inner {
        display: flex;
        flex-direction: row;
        width: 70%;
        height: 100%;
        justify-content: center;
        padding: 0;
    }

    
}


.newsfeed-left {
    display: flex;
    width: 80%;
    height: 100%;
    align-items: stretch;
    padding-right: 1px;
}

.newsfeed-right {
    display: flex;
    width: 30%;
    height: 100%;
    flex-direction: column;
    // align-items: space-evenly;

}

.newsfeed1 {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    // align-items: stretch;
    


    img {
        display: flex;
        // align-items: stretch;
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }

    .newsfeed1-title {
        position: absolute;
        top: 400px;
        left: 25px;
        text-align: center;
        color: white;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 50px;
        font-weight: bolder;
        // text-shadow: 1px 1px lightgray;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: lightgray;
    
    }

    .newsfeed1-tag {
        position: absolute;
        top: 470px;
        left: 25px;
        color: white;
        font-size: 10px;
        font-weight: bolder;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: gray;
    }
}


.newsfeed2 {
    position: relative;
    display: flex;
    height: 33.33%;
    width: 100%;
    padding-bottom: 1px;
    
    img {
        display: block;
        width: 100%;
        height: 100%;
        // object-fit: cover;
    }
    
    .newsfeed234-title {
        position: absolute;
        top: 110px;
        left: 10px;
        color: white;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: bolder;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: gray;
        
    }
    
    .newsfeed234-tag {
        position: absolute;
        top: 145px;
        left: 10px;
        color: white;
        font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;
        font-size: 8px;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: lightgray;
    }
}

.newsfeed3 {
    position: relative;
    height: 33.33%;
    width: 100%;
    padding: 1px 0 1px 0;
    
    img {
        display: block;
        width: 100%;
        height: 100%;
        // object-fit: cover;

    }

    .newsfeed234-title {
        position: absolute;
        top: 100px;
        left: 10px;
        color: white;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: bolder;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: gray;

    }

    .newsfeed234-tag {
        position: absolute;
        top: 150px;
        left: 10px;
        color: white;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 8px;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: lightgray;
    }
}

.newsfeed4 {
    // display: flex;
    position: relative;
    height: 33.33%;
    width: 100%;
    // flex-grow: 1;
    padding-top: 1px;

    img {
        display: block;
        width: 100%;
        height: 100%;
        // object-fit: cover;
    }

    .newsfeed234-title {
        // display: flex;
        position: absolute;
        top: 110px;
        left: 10px;
        color: white;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: bolder;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: gray;
    }

    .newsfeed234-tag {
        // display: flex;
        position: absolute;
        top: 140px;
        left: 10px;
        color: white;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 8px;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: lightgray;
    }
}
